---
import SIPCalculator from '../components/SIPCalculator.jsx';
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>SIP Calculator</title>
  </head>
  <body>
    <h1>SIP Calculator (India)</h1>
    <SIPCalculator client:load />
  </body>
</html>